{% extends 'base.html.twig' %}


{% block body %}

    <h1>Création de map</h1>
    <div class="container">
    <span id="distance"></span>
        <div class="row">
            <div id='map' class="col" style='width: 600px; height: 600px; cursor:url({{asset('assets/images/icon.png')}}),auto;'></div>
            <div class="col" id="right_menu">
                <form action="{{ path('valid.map_create') }}" method="post" id="form" enctype="multipart/form-data">
                    <div class="form-group col-12"> 
                        Nom du parcours
                        <input type="text" class="form-control" name="mapName" id="mapName"><br>
                        Difficulté
                        <select id="difficulte" class="form-control">
                            <option value="facile">Facile</option>
                            <option value="difficile">Difficile</option>
                        </select>
                        <button class="btn btn-primary invisible" style='margin-top:5px' id="buttonCollapse" type="button" data-toggle="collapse" data-target="#divForm" aria-expanded="false" aria-controls="divForm">
                            <i class="fas fa-angle-right"></i>
                        </button>

                        <div class="collapse" style="margin-left:30px;"  id="divForm"></div>
                        <br>
                        <input class="form-control" type="hidden" id="mapvalue" name="mapvalue" value="" >
                        <input class="btn btn-success" type="submit" id="valider" value="valider">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
            

            var lat = 0;
            var long = 0;
            var map = null;
            var nbPoint = 0;
            var compteurPoint = 0;
            var constructedMap = null;
            var newMarker;
            var firstMarker;
            var lastMarker;
            var tabPoints = [];

            getLocation();
            var url = '{{asset("assets/images/depart.png")}}'
            var depart = L.icon({
                iconUrl: url,
                iconSize:     [60, 60], // size of the icon
                iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });
            url = '{{asset("assets/images/icon.png")}}'
            var defaultIcon = L.icon({
                iconUrl: url,
                iconSize:     [25, 40], // size of the icon
                iconAnchor:   [13,40], // point of the icon which will correspond to marker's location
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });
            url = '{{asset("assets/images/arrive.png")}}'
            var arrive = L.icon({
                iconUrl: url,
                iconSize:     [60, 60], // size of the icon
                iconAnchor:   [15, 55], // point of the icon which will correspond to marker's location
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });


            function getLocation(){
                if(navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(showPosition);

                }
            }

            function showPosition(position) {


                lat = position.coords.latitude;
                long = position.coords.longitude;
                map = L.map('map',{'doubleClickZoom' : false}).setView([lat,  long], 15);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                map.on('dblclick', onMapClick);
            }


            function drawLine(){
                for(i in map._layers) {
                   if(map._layers[i]._path != undefined) {
                        try {
                            map.removeLayer(map._layers[i]);
                        }
                        catch(e) {
                            console.log("problem with " + e + map._layers[i]);
                        }
                    }
                }
                for(i = 0 ; i < tabPoints.length-1; i++){
                    L.polyline([tabPoints[i]._latlng,tabPoints[i+1]._latlng]).addTo(map);                    
                }
            }
            

            function calculateDistance(){
                var points = [];
                var distance = 0 ;
                map.eachLayer((layer)=>{
                    if(layer.dragging != undefined){
                        points.push(layer);
                    }
                });
                for(var i = 0 ; i < points.length-1 ; i++){
                    distance += map.distance(points[i]._latlng,points[i+1]._latlng);
                }
                return distance/1000;
            }

            function onMapClick(e) {
                var nbIndice = 0;
                var markerCourrant
                console.log(compteurPoint);
                if(compteurPoint == 0){
                    markerCourrant = L.marker(e.latlng,{'title' : 'point'+compteurPoint, icon:depart}).addTo(map);
                    newMarker = markerCourrant;
                    firstMarker = markerCourrant;
                    tabPoints.push(markerCourrant);
                    $('#buttonCollapse').removeClass('invisible');
                    
                }else{
                    var latlng 
                    if(compteurPoint >= 2){
                        newMarker.setIcon(defaultIcon);
                    }
                    markerCourrant = L.marker(e.latlng,{'title' : 'point'+compteurPoint, icon:arrive}).addTo(map);
                    newMarker = markerCourrant;
                    tabPoints.push(markerCourrant);
                    lastMarker = markerCourrant;
                    drawLine();

                }
                $("#divForm").append("<div id=divMenu"+nbPoint+" class='divMenu''></div>");
                console.log($("#divForm"));
                var newDiv = $("#divMenu"+nbPoint);
                newDiv.append("Nom ");
                newDiv.append("<input type='text' class='form-control'  id='point"+nbPoint+"' value="+markerCourrant.options.title+" >");
                newDiv.append("<input type='button' class='btn btn-primary' style='margin-top:5px' value='Supprimer' id='btnSuppr"+nbPoint+"' class='suppr'>");
                newDiv.append("\n");
                newDiv.append("<button type='button' id='btnCollapse"+nbPoint+"' style='margin-top:5px' class='btn btn-primary btnCollapse' data-toggle='collapse' data-target='#collapsPoint"+nbPoint+"' aria-expanded='false' aria-controls='collapsPoint"+nbPoint+"' ><i class='fas fa-angle-right'></i></button> ")
                newDiv.append("\n");
                var divCollapse = $("<div class='collapse' style='margin-left:30px' id='collapsPoint"+nbPoint+"'></div>");
                newDiv.append(divCollapse);
                divCollapse.append("<button class='btn btn-primary' style='margin-top:10px' type='button' id='textbtnIndice"+nbPoint+"' name="+nbPoint+">Ajouter indice <i class='fas fa-pencil-alt'></i></button>");
                divCollapse.append("<button class='btn btn-primary' style='margin-top:10px; margin-left:5px' type='button' id='imagebtnIndice"+nbPoint+"' name="+nbPoint+">Ajouter indice <i class='fas fa-camera-retro'></i></button>");
                divCollapse.append("<br>");
                
                newDiv.append(divCollapse);
                $('#btnCollapse'+nbPoint).on('click',function(){
                    console.log($(this));
                    if(!$(this).hasClass('clicked')){
                        $(this).html('<i class="fas fa-angle-down"></i>');
                        $(this).addClass('clicked');
                    }else{
                        console.log('test');
                        $(this).html('<i class="fas fa-angle-right"></i>');
                        $(this).removeClass('clicked');                    
                    }
                });   
                $("#btnSuppr"+nbPoint).on('click',function (e) {
                   e.preventDefault();
                   map.removeLayer(markerCourrant);
                   newDiv.remove();
                   console.log(divCollapse);
                   tabPoints.splice(tabPoints.indexOf(markerCourrant),1);
                   if(compteurPoint > 1 ){
                        if(markerCourrant == firstMarker){
                            tabPoints[0].setIcon(depart);  
                            firstMarker = tabPoints[0];    
                        }else if(markerCourrant == lastMarker && tabPoints[tabPoints.length -1] != firstMarker){
                            tabPoints[tabPoints.length -1 ].setIcon(arrive);
                            lastMarker = tabPoints[tabPoints.length -1];    

                        }
                   }
                    
                    compteurPoint--;
                    drawLine();

                });

                
                $("#textbtnIndice"+nbPoint).on('click',function (e) {
                    console.log("testbtnindice");
                    divCollapse.append("<div id='divIndices"+this.name+"'></div>");
                    var divIndices = $('#divIndices'+this.name+'');
                    divIndices.append("<div style='margin-bottom:15px' id='point"+this.name+"indice"+nbIndice+"'>Indice "+nbIndice+" :</div>");
                    var indice = $('#point'+this.name+'indice'+nbIndice+'');
                    indice.append("<input type='text' class='indice"+this.name+" form-control'>");
                    indice.append("<input type='button' style='margin-top:5px' id='points"+this.name+"supprIndice"+nbIndice+"' class='btn btn-primary' value='supprimer''>");
                    indice.append("Obligatoire ? <input type='checkbox' id='check' value = 'check'+"+this.name + ">");
                    $("#points"+this.name+"supprIndice"+nbIndice+"").on('click',function (e) {
                        indice.remove();
                        nbIndice--;
                    });


                    nbIndice++;

                });
                
                $("#imagebtnIndice"+nbPoint).on('click',function (e) {

                    divCollapse.append("<div id='divIndices"+this.name+"'></div>");
                    var divIndices = $('#divIndices'+this.name+'');
                    divIndices.append("<div id='point"+this.name+"indice"+nbIndice+"'>Indice "+nbIndice+" :</div>");
                    var indice = $('#point'+this.name+'indice'+nbIndice+'');
                    indice.append("<input type='file' class='indice"+this.name+"' name = 'point"+this.name+"indice"+nbIndice+"' form-control-file' accept='image/png, image/jpeg'>" );
                    indice.append("<input type='button' id='points"+this.name+"supprIndice"+nbIndice+"' class='btn btn-primary' value='supprimer''>");
                    indice.append("Obligatoire ? <input type='checkbox' id='check' value = 'check'+"+this.name + ">");
                    $("#points"+this.name+"supprIndice"+nbIndice+"").on('click',function (e) {
                        indice.remove();
                        nbIndice--;
                    });


                    nbIndice++;

                });
                nbPoint++;
                compteurPoint++;
            }

            $("#valider").on('click',function (e) {
                var mapName = "";
                if($("#mapName").val() == ""){
                    mapName = 'mapDefault ';
                }else{
                    mapName = $("#mapName").val();
                }
                constructedMap = {
                    'nomParcours' : mapName,
                    'longueurParcours' : calculateDistance(),
                    'typeParcours' : $( "#difficulte option:selected" ).val(),
                    'description' : 'parcour',
                    'lat' : lat,
                    'lng' : long,
                    'zoom' : 13,
                    'points' : [],
                    'user' : 'user'

                };
                $(".divMenu").each(function (key) {
                    var titre = "";
                    var lat = 0;
                    var lng = 0;
                    map.eachLayer(function (layer) {
                        if (layer.options.title == "point"+key){
                            titre = $("#point"+key).val();
                            lat = layer._latlng.lat;
                            lng = layer._latlng.lng;
                        }
                    });
                    var point = {
                        'titre' : titre,
                        'lat' : lat,
                        'lng' :  lng,
                        'indices' : []
                    };
                    constructedMap.points.push(point);
                                        
                    $(".indice"+key).each(function (index) {
                        point.indices.push({
                            'type' : $(this).attr('type'),
                            'nom' : $(this).val(),
                            'obligatoire' : $(this).parent().find("#check").prop('checked')
                        });                        
                    });

                });
                $("#mapvalue").val(JSON.stringify(constructedMap));
            });
            $('#buttonCollapse').on('click',function(){
                if(!$(this).hasClass('clicked')){
                    $(this).html('<i class="fas fa-angle-down"></i>');
                    $(this).addClass('clicked');
                }else{
                    console.log('test');
                    $(this).html('<i class="fas fa-angle-right"></i>');
                    $(this).removeClass('clicked');

                }
            });                     
            





    </script>



{% endblock %}
